<div class="d-flex gap-2">
    <div class="search-container">
        <div class="search-input position-relative rounded bg-white p-2 d-flex align-items-center">
            <input type="text" [(ngModel)]="searchTerm" (input)="onInput()" placeholder="Search" class="form-control border-0 py-2 ps-5" style="width: 710px;">
            <span class="position-absolute start-0 ps-3">🔍</span>
            <button class="position-absolute end-0 me-2 btn btn-primary py-2 px-4 rounded">Search</button>
        </div>
        @if (showSearchResults) {
            <div class="bg-white mt-2 rounded p-2 overflow-auto" style="max-height: 250px;">
                @if (searchResults.length > 0) {
                    @for (item of searchResults; track $index) {
                        <div class="text-dark p-1 cursor-pointer" (click)="selectResult(item)" 
                             [ngClass]="{'bg-primary text-white': hoveredItem === item}"
                             (mouseenter)="hoveredItem = item"
                             (mouseleave)="hoveredItem = null">
                            {{item.name}}
                        </div>
                    }
                } @else {
                    <p class="text-center text-dark">No Results Found</p>
                }
            </div>
        }
    </div>
</div>
